datasets==2.17.1
flake8==4.0.1
flake8-docstrings==1.6.0
gitpython==3.1.27
isort==5.13.2
jupyter==1.0.0
jinja2==3.1.2
maml==2023.9.9
monty==2024.2.2
myst-parser==2.0.0
orion>=0.2.4.post1
pyarrow==15.0.0
pymatgen==2024.2.23
pyyaml==6.0
pytest==7.1.2
pytest-cov==3.0.0
pytorch_lightning>=2.2.0
pytype==2024.2.13
sphinx==7.2.6
sphinx-autoapi==3.0.0
sphinx-rtd-theme==2.0.0
sphinxcontrib-napoleon==0.7
sphinxcontrib-katex==0.8.6
tensorboard==2.16.2
tqdm==4.64.0
torch==2.2.0
torchvision>=0.17.0
